body{
  background-color: rgb(237, 204, 142);
}

.main{
  display: flex;
  width: 100vw;
  height: 100vw;
  justify-content: center;
  align-items:  center;
  

}
p{
  font-size: 2em;
  margin-top: 20px;
  border-radius: 5px;
  background: rgb(79, 61, 61);
  color: rgb(235, 196, 96);
  padding: 20px;
  box-sizing: border-box;
}
h1{
  font-size: 60px;
  margin-top: 20px;
  border-radius: 5px;
  background: rgb(116, 116, 116);
  color: rgb(255, 255, 255);
  padding: 20px;
  box-sizing: border-box;
}
.Calculadora{
  display: flex;
  flex-direction: column;
  background-color:#ff91009a;
  width: 400px;
  height: 600px;
  border-radius: 20px;
  border-color: black;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgb(255, 111, 0);

}

.title{
    display: flex;
    justify-content: left;
    align-items: left;
    width: 100%;
    height: 100px;
    font: bold 2.5rem serif;
    border-bottom: solid 5px rgb(255, 0, 0);
    margin-bottom: 60px;
}
  
.input {
    display: flex;
    width: 300px;
    height: 40px;
    justify-content: space-between;
    align-items: center; 
}
  
  .input input {
    width: 200px;
    height: 20px;
    border-radius: 10px;
    outline: 0;
    font: bold 1.5rem serif;
    text-align: center;
  }
  
  .input label {
    font: bold 1.5rem sans-serif;
    align-self: center;
  }
  
  button{
    width: 400px;
    height: 40px;
    font: bold 1.2rem sans-serif;
    background: rgb(0, 0, 0);
    color: rgb(255, 225, 0);
    border-radius: 5px;
    cursor: pointer;
  }
  
  .result{
    display: flex;
    margin-top: 20px;
    align-items: center;
    width: 400px;
    height: 150px;
    border-radius: 5px;
    font: italic 1.7rem serif;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    background: rgb(255, 223, 223);
    color: rgb(142, 0, 90);
    padding: 20px;
    box-sizing: border-box;
  }